.contato__mapa {
  grid-column: 2;
}

.contato__mapa img {
  height: 50rem;
  object-fit: cover;
}

.contato__dados {
  grid-column: 3;
}

@media (max-width: 768px) {
  .contato__mapa,
  .contato__dados {
    grid-column: 1 / 3;
  }
}

.contato__dados li {
  margin-bottom: 1.6rem;
}

.contato__dados li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: var(--color-tertiary);
}
